<%- include('header') -%>
<%- include('routing'); %>
<form  action ="/paystack" method="post">
  <div class="container">  
    
      <label for="email">Email Address</label>
      <input name = "email" type="email" id="email-address" class="form-control" required />
    
   
      <label for="amount">Amount</label>
      <input name = "amount" type="tel" id="amount"  placeholder="Enter Amount In KiloWatt"  class="form-control" required />
    

    
      <label for="full_name">First Name</label>
      <input name = "full_name" type="text" id="first-name" class="form-control" required />
    
    
      <label for="meter_number">Meter Number</label>
      <input name = "meter_number" type="text" id="meter_number" class="form-control" required/>
      <small>Enter correct meter_number, which is thesame as what you used to login</small>
    
    <div class="col-2">
      <button class="btn btn-primary" type="submit"> Pay </button>
    </div>
  </div>
</form>
  <script src="https://js.paystack.co/v1/inline.js"></script> 

<%- include('footer') -%>