<%- include('header') -%>
<div class="container">
<h1> SOMETHING WENT WRONG PLEASE TRY AGAIN</h1>
<div class="col-12">
    <a class="btn btn-primary" href="/">Login</a>
  </div>
</div>


<%- include('footer') -%>