<%- include('header') -%>
<form action="/changepassword" method="post">
    <div class="container">
      <label for="uname"><b>Meter Number</b></label>
      <input type="text" placeholder="Enter Meter Number" name="meter_number" required>
      <label for="uname"><b>Reference Number</b></label>
      <input type="text" placeholder="Enter your Reference Number" name="reference" required>
      <div class="col-4">
        <button class="btn btn-success" type="submit">submit</button>
      </div>
      <a class="btn btn-primary" href="/">Back</a>
    </div>
  </form>
<%- include('footer') -%>