<%- include('header') -%>
<% if(message.length > 0) { %>
  <div class="alert alert-success">
    <%= message %>
  </div>
<% } %>
<form action="/verification" method="post">
    <div class="container">
      <label for="uname"><b>Meter Number</b></label>
      <input type="text" placeholder="Enter Meter Number" name="meter_number" required>
      <label for="uname"><b>Password</b></label>
      <input type="text" placeholder="Enter your password" name="password" required>
      <div class="col-4">
        <button class="btn btn-success" type="submit">Login</button>
      </div>
      <span class="psw">Forgot password<a href="/password">password?</a></span>
    </div>
  </form>
  <%- include('footer') -%>